<!-- we have separated out the header and footer part to different ejs files, and now we will include it as followss -->
<%- include("header") -%>

<div class="box" id="heading">
  <h1> <%= listTitle%> </h1>
</div>

<div class="box">
  <%  newListItems.forEach(function(item){ %>

  <form action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkBoxItem" value="<%= item._id%>" onchange="this.form.submit()">
      <p><%= item.name%></p>
    </div>
    <input type="hidden" name="listName" value="<%= listTitle%>">
    <!-- hidden input is used to send more data without user's interventions-->
  </form>
  <%  }) %>


  <form class="item" action="/" method="post">
    <input autocomplete="off" type="text" name="nextItem" placeholder="New Item">
    <button type="submit" name="list" value=<%= listTitle%>>+</button>
  </form>

</div>

<%- include("footer") -%>
